.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/57426249_2446263825384201_2745238182437060608_n.jpg?_nc_cat=100&_nc_oc=AQk3FO70-SGJbbSunXs2fomfq_yafHCuhVhCecx7786eiwuZbqGbK9ErVi_8biELHCg&_nc_ht=scontent-ort2-2.xx&oh=3af1d245d9415188ad6b838bee969f73&oe=5DDA39FF');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }