.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://images.wallpaperscraft.com/image/church_interior_stained_glass_113111_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }